<div id="home_banner">
  <div id="home_banner_text">
    <h2>tetris</h2>
    <h5>Strictly exclusive</h5>
    <h5>merchandise</h5>
  </div>
</div>

<div id="featured_container">
  <h3>featured</h3>

  <p>
    for more awesome products
    <%=link_to "visit the store", store_path, class: "button"%>
  </p>


  <div id="featured_items">
  <% @products.each do |product| %>
    <%= product.name %>
    <div class="card">
      <div class="front" style='background-image:url(<%=product.image.store.url%>)'>

        <%= render 'products/featured_items_front',product: product%>
      </div>
      <div class="back">
        <%= render 'products/featured_items_back', product: product%>
      </div>
    </div>

  <%end%>

  </div>

</div>
