
  <%@orders.each do |o|%>
    <div id="order_holder">
      <% if admin_signed_in?%>
        <h1>Customer name: <%= o.customer_name%></h1>
        <p>Order Id: <%=o.id%></p>
        <p>Order has been <%= o.status.capitalize%></p>
      <%end%>
      <h1>Placed: <%=o.created_at%></h1>


      <% o.order_items.each do |oi|%>
      <br>
        <ul>
          <h3><li>Item name: <%=oi.product.name%></li></h3>
          <h3><li>Quantity: <%=oi.quantity%></li></h3>
          <h3><li>Price: <%=oi.product.price%></li></h3>
        </ul>
        <br>
      <%end%>
      <h2>Total: <%= o.subtotal%></h2>
      <h1>To be delivered to: <%= o.delivery_address%></h1>
      <%if admin_signed_in?%>
        <%= form_for o, url: {action: "delivered"} do |f|  %>
        <%= f.hidden_field :order_id, value: o.id %>
              <%= f.submit 'Delivered'%>
        <% end %>
      <%end%>

    </div>
  <%end%>
