<div class="product">
      <% if user_signed_in?%>

      <%=link_to(product) do%>
      <div class="card">
        <div class="front_signed_in" style='background-image: url(<%= product.image.store.url%>)'>
          <%= render 'product_front', product: product%>
       </div>
       <%end%>
     </div>
          <p id="store_product_name"><%=product.name.capitalize%></p>
        <%else%>
          <div class="card">
            <div class="front" style='background-image: url(<%= product.image.store.url%>)'>
              <%= render 'product_front', product: product%>
           </div>
            <div class="back">
              <%= render 'product_back', product: product%>
            </div>
          </div>
          <p id="store_product_name"><%=product.name.capitalize%><p>
      <%end%>
</div>
