
<div id="new_product_form">
  <%= form_for @product, html: {multipart: true}, url: {action: "create"} do |f|  %>
      <% if @product.errors.any? %>
       <div id="error_explanation">
           <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
             <ul>
               <% @product.errors.full_messages.each do |message| %>
                 <li><%= message %></li>
               <% end %>
             </ul>
       </div>
    <% end %>

    <ul>
      <% if f.object.image? %>
        <%= image_tag f.object.image.thumb.url %>
        <%= f.label :remove_image %>
        <%= f.check_box :remove_image %>
      <% end %>
      <li><%= f.file_field :image, placeholder: "Image" %></li>

      <li><%= f.text_field :name, placeholder: "Name" %></li>
      <li><%= f.number_field :price, placeholder: "Price"%></li>


      <li>
        <%= f.label :active%>

        <%= f.select :status, Product.statuses.keys.map { |w| [w.humanize, w]}%>
      </li>

      <li><%= f.submit "Done" %></li>
    </ul>
  <%end%>
</div>
