
<div class="product_holder">
  <div class="product_card">
    <ul>
      <li>
        <div id="product_card_top">
          <%= image_tag @product.image.thumb.url, id: "product_image"%>
        </div>
      </li>
      <li>
        <div id="product_card_bottom">
          <h2><%= @product.name.upcase %></h2>
          <h4 class="text-right">Price:<%= number_to_currency( @product.price, unit: "N") %></h4>
        </div>
      </li>
    </ul>
    <% if admin_signed_in?%>
      <%= link_to 'Edit', product_edit_path(@product) %> |
      <%= link_to 'Back', product_path %>
    <%end%>

  </div>

  <div id="add_to_cart_ps">
    <% if user_signed_in?%>
      <%= form_for @product, remote: true, url:{ action:"create", controller: "order_items"} do |f| %>
      <%= f.number_field :quantity, value:1, min: 1%>
        <div>
          <%= f.hidden_field :price, value: @product.price %>
          <%= f.hidden_field :order_item, value: @meal.order_items.order_item.id %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.submit "Add to Cart"%>
        </div>
      <%end%>
    <% end %>
  </div>




</div>
