<header>
  <div id="header" class="cf">

    <%= link_to image_tag('#', alt:"tetris", id: "header_logo"), root_path %>

    <div class="nav">
      <ul>
        <li><%=link_to "sign up", '#' %></li>
        <li><%=link_to "customer care", customercare_path%></li>
        <li><%=link_to "store", store_path%></li>
        <li><%=link_to "home", root_path%></li>
      </ul>
    </div>
  </div>
</header>
